<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <form method="post" action="/users/post">
      <div>
        <label for="msg">Message:</label>
        <input type="text" name="message" id="msg" />
      </div>
      <input type="submit" value="é€ä¿¡" class="btn btn-primary" />
    </form>
  </body>
</html>
